<div class="major-widget-wrap">
  <div class="major-widget">
    <img src="<%= theme.majorSidebar.img %>" style="width: 100%" />
      <div class="major-widget-inner">
        <%- theme.majorSidebar.content %>
      </div>
  </div>
</div>
