<nav id="mobile-nav">
  <% for (var i in theme.menu){ %>
    <a href="<%- url_for(theme.menu[i].url) %>" class="mobile-nav-link">/&nbsp;<%= i %><% if (theme.menu[i].image) { %>&nbsp;<img src="/css<%- url_for(theme.menu[i].image) %>" class="majorMobiNavIcons" /><% } %></a>
  <% } %>
</nav>